

.ia{
    color: #14b8a6;
    font-size: 20px;
}
.available{
    color: #14b8a6;
    border: 2px solid #14b8a6;
    padding: 0 20px;
    border-radius: 40px;
    width: 250px;
    background-color: #14b8a64d;
}
.myname{
    color: #14b8a6;
    font-size: 25px;
}
.normal-text{
    color: darkgray;
   
}
.home-btns{
    display: flex;
  
    gap: 50px;
}
.viewwork{
    border: 2px solid #14b8a6;
    padding: 20px 20px;
    border-radius: 20px;
    width: 200px;
    background-color: #14b8a6;
    color: white;
    font-size: 0.8em;
    transition: 0.3s;
}
.viewwork:hover{
    box-shadow:0 0 2px 2px #14b8a6;
    color: black;
}
.intouch{
    border: 2px solid #14b8a6;
    padding: 20px 20px;
    border-radius: 20px;
    width: 200px;
    color: white;
    font-size: 0.8em;
    background-color: black;
    transition: 0.3s;
}
.intouch:hover{
    box-shadow:0 0 2px 2px #14b8a6;
   
}
.homepage-experience{
    display: flex;
    justify-content:space-around;
    align-content: center;
    align-items: center;
    font-size: 1.5em;
    background-color: #14b8a64d;
    border-radius: 100px;
}
.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 80px 0;
}

.cup-img img{
   border-radius: 100px;
   box-shadow:0 0 10px 10px #14b8a64d;
}

.bringtotable h2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bringtotable p{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cleancodes-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 0;
    border-bottom: 0.5px solid darkgray;
}
.cleancodes{
    border: 0.2px solid darkgray;
    padding: 10px 20px;
    border-radius: 20px;
    width: 340px;
    height: 150px;
    transition: 0.3s;
}
.cleancodes:hover{
   border: 0.5px solid #14b8a6;
   transform: scale(1.05);
}
